

body
{
    background-image: url('greyzz.png');
}

h1, h2
{
    font-family: 'droid_sansregular', 'Arial', sans-serif;
}

h1, h1 + p
{
    text-align: center;
}

img
{
    float: right;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
}

h2
{
    color: #6E4A46;
}

section
{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 2%;
}



#contenu
{
    width: 85%;
}

@media all and (max-width: 1024px)
{
    section
    {
        display: block;
        width: auto;
    }

    #liseret
    {
        display: none;
    }

    #contenu
    {
        width: auto;
    }

}
.ez{
    border-bottom: 2px dashed #ccc;
}
.ez a{
    display: block;
    text-align: center;
    padding: 10px;
    margin: 10px auto 30px auto;
    color: #fff;
    background-color: #EA0;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 5px;
}
